@import "variables/variables";
@import "vendor/normalize";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	font-size: 14px;
}

* {
	box-sizing: border-box;
}

body {
	background-color: $red;
	background-image: url("../images/bg-intro-desktop.png");
	background-repeat: repeat;
	font-family: "Poppins", sans-serif;
	color: $white;
	font-size: 1.2rem;
}

.firstcolumn {
	line-height: 1.8rem;
}

h1 {
	font-size: 2rem;
	line-height: 3rem;
	font-weight: 600;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.flex-container {
	display: flex;
	flex-direction: column;
	padding: 0 2rem 0 2rem;
}

.form {
	background-color: $white;
	border-radius: 0.5rem;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 7px rgba(0, 0, 0, 0.15);

	p {
		text-align: center;
	}
}

.input {
	width: 100%;
	font-weight: 700;
	border: 1px solid #ccc;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	margin-bottom: 1rem;
}

.btn {
	width: 100%;
	padding: 1rem 1rem;
	color: #fff;
	margin-bottom: 23px;
	border: none;
	text-align: center;
	box-shadow: 0px 7px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	transition: color .2s ease-in;

	&--blue {
		background-color: $blue;
		border-radius: 0.8rem;

		&:hover {
			background-color: darken($blue, 10%);
		}
	}

	&--green {
		background-color: $green;
		border-radius: 0.3rem;
		text-transform: uppercase;

		&:hover {
			background-color: darken($green, 10%);
		}
	}
}

.terms {
	color: #ccc;
	font-size: 0.8rem;
}

.terms__link {
	color: $red;
	text-decoration: none;
	font-weight: 700;
}

@media (min-width: 768px) {
	.col-6 {
		flex-basis: 50%;
	}

	h1 {
		font-size: 3rem;
		line-height: 3.5rem;
		font-weight: 600;
	}

	.firstcolumn {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 2rem
	}

	.flex-container {
		flex-direction: row;
		padding: 0;
	}
}
